@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin--kyW0m5UUw_font-family: "Inter";
  --mixin--kyW0m5UUw_font-size: 16px;
  --mixin--kyW0m5UUw_font-weight: 400;
  --mixin--kyW0m5UUw_font-style: normal;
  --mixin--kyW0m5UUw_color: #535353;
  --mixin--kyW0m5UUw_text-align: left;
  --mixin--kyW0m5UUw_text-transform: none;
  --mixin--kyW0m5UUw_line-height: 1.5;
  --mixin--kyW0m5UUw_letter-spacing: normal;
  --mixin--kyW0m5UUw_white-space: pre-wrap;
  --mixin--kyW0m5UUw_user-select: text;
  --mixin--kyW0m5UUw_text-decoration-line: none;
  --mixin--kyW0m5UUw_text-overflow: clip;
  --mixin-Xn2chiuU4O_font-family: "Inter";
  --mixin-Xn2chiuU4O_color: #000000;
  --mixin-Xn2chiuU4O_font-size: 72px;
  --mixin-Xn2chiuU4O_font-weight: 900;
  --mixin-Xn2chiuU4O_letter-spacing: -4px;
  --mixin-Xn2chiuU4O_line-height: 1;
  --mixin-Xn2chiuU4O_white-space: pre-wrap;
  --mixin-GlZHjzWDn3_font-family: "Inter";
  --mixin-GlZHjzWDn3_color: #000000;
  --mixin-GlZHjzWDn3_font-size: 48px;
  --mixin-GlZHjzWDn3_font-weight: 700;
  --mixin-GlZHjzWDn3_letter-spacing: -1px;
  --mixin-GlZHjzWDn3_line-height: 1.1;
  --mixin-GlZHjzWDn3_white-space: pre-wrap;
  --mixin-vFys8Hjvz7_color: #0070f3;
  --mixin-vFys8Hjvz7_white-space: pre-wrap;
  --mixin-Ma81jpRVOB_font-family: "Inter";
  --mixin-Ma81jpRVOB_color: #000000;
  --mixin-Ma81jpRVOB_font-size: 32px;
  --mixin-Ma81jpRVOB_font-weight: 600;
  --mixin-Ma81jpRVOB_letter-spacing: -0.8px;
  --mixin-Ma81jpRVOB_line-height: 1.2;
  --mixin-Ma81jpRVOB_white-space: pre-wrap;
  --mixin-QY7V8oH9dc_font-family: "Inter";
  --mixin-QY7V8oH9dc_color: #000000;
  --mixin-QY7V8oH9dc_font-size: 24px;
  --mixin-QY7V8oH9dc_font-weight: 600;
  --mixin-QY7V8oH9dc_letter-spacing: -0.5px;
  --mixin-QY7V8oH9dc_line-height: 1.3;
  --mixin-QY7V8oH9dc_white-space: pre-wrap;
  --mixin-lFPPBGgzuN_font-family: "Inter";
  --mixin-lFPPBGgzuN_color: #000000;
  --mixin-lFPPBGgzuN_font-size: 20px;
  --mixin-lFPPBGgzuN_font-weight: 600;
  --mixin-lFPPBGgzuN_letter-spacing: -0.3px;
  --mixin-lFPPBGgzuN_line-height: 1.5;
  --mixin-lFPPBGgzuN_white-space: pre-wrap;
  --mixin-yDGU60fbjm_font-family: "Inter";
  --mixin-yDGU60fbjm_color: #000000;
  --mixin-yDGU60fbjm_font-size: 16px;
  --mixin-yDGU60fbjm_font-weight: 600;
  --mixin-yDGU60fbjm_line-height: 1.5;
  --mixin-yDGU60fbjm_white-space: pre-wrap;
  --mixin-dcX_BWDj8u_color: #3291ff;
  --mixin-dcX_BWDj8u_white-space: pre-wrap;
  --mixin-QoEPxNu2fv_border-left-color: #dddddd;
  --mixin-QoEPxNu2fv_border-left-style: solid;
  --mixin-QoEPxNu2fv_border-left-width: 3px;
  --mixin-QoEPxNu2fv_color: #888888;
  --mixin-QoEPxNu2fv_padding-left: 10px;
  --mixin-QoEPxNu2fv_white-space: pre-wrap;
  --mixin-N85WC50Ef7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-N85WC50Ef7_border-bottom-color: #dddddd;
  --mixin-N85WC50Ef7_border-bottom-style: solid;
  --mixin-N85WC50Ef7_border-bottom-width: 1px;
  --mixin-N85WC50Ef7_border-left-color: #dddddd;
  --mixin-N85WC50Ef7_border-left-style: solid;
  --mixin-N85WC50Ef7_border-left-width: 1px;
  --mixin-N85WC50Ef7_border-right-color: #dddddd;
  --mixin-N85WC50Ef7_border-right-style: solid;
  --mixin-N85WC50Ef7_border-right-width: 1px;
  --mixin-N85WC50Ef7_border-top-color: #dddddd;
  --mixin-N85WC50Ef7_border-top-style: solid;
  --mixin-N85WC50Ef7_border-top-width: 1px;
  --mixin-N85WC50Ef7_border-bottom-left-radius: 3px;
  --mixin-N85WC50Ef7_border-bottom-right-radius: 3px;
  --mixin-N85WC50Ef7_border-top-left-radius: 3px;
  --mixin-N85WC50Ef7_border-top-right-radius: 3px;
  --mixin-N85WC50Ef7_font-family: "Inconsolata";
  --mixin-N85WC50Ef7_padding-bottom: 1px;
  --mixin-N85WC50Ef7_padding-left: 4px;
  --mixin-N85WC50Ef7_padding-right: 4px;
  --mixin-N85WC50Ef7_padding-top: 1px;
  --mixin-N85WC50Ef7_white-space: pre-wrap;
  --mixin-zJF6zNOiFS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zJF6zNOiFS_border-bottom-color: #dddddd;
  --mixin-zJF6zNOiFS_border-bottom-style: solid;
  --mixin-zJF6zNOiFS_border-bottom-width: 1px;
  --mixin-zJF6zNOiFS_border-left-color: #dddddd;
  --mixin-zJF6zNOiFS_border-left-style: solid;
  --mixin-zJF6zNOiFS_border-left-width: 1px;
  --mixin-zJF6zNOiFS_border-right-color: #dddddd;
  --mixin-zJF6zNOiFS_border-right-style: solid;
  --mixin-zJF6zNOiFS_border-right-width: 1px;
  --mixin-zJF6zNOiFS_border-top-color: #dddddd;
  --mixin-zJF6zNOiFS_border-top-style: solid;
  --mixin-zJF6zNOiFS_border-top-width: 1px;
  --mixin-zJF6zNOiFS_border-bottom-left-radius: 3px;
  --mixin-zJF6zNOiFS_border-bottom-right-radius: 3px;
  --mixin-zJF6zNOiFS_border-top-left-radius: 3px;
  --mixin-zJF6zNOiFS_border-top-right-radius: 3px;
  --mixin-zJF6zNOiFS_font-family: "Inconsolata";
  --mixin-zJF6zNOiFS_padding-bottom: 3px;
  --mixin-zJF6zNOiFS_padding-left: 6px;
  --mixin-zJF6zNOiFS_padding-right: 6px;
  --mixin-zJF6zNOiFS_padding-top: 3px;
  --mixin-zJF6zNOiFS_white-space: pre-wrap;
  --mixin-5fbsBWIbo9_display: flex;
  --mixin-5fbsBWIbo9_flex-direction: column;
  --mixin-5fbsBWIbo9_align-items: stretch;
  --mixin-5fbsBWIbo9_justify-content: flex-start;
  --mixin-5fbsBWIbo9_list-style-position: outside;
  --mixin-5fbsBWIbo9_padding-left: 40px;
  --mixin-5fbsBWIbo9_position: relative;
  --mixin-5fbsBWIbo9_list-style-type: decimal;
  --mixin-5fbsBWIbo9_white-space: pre-wrap;
  --mixin-eViUy5MaYN_display: flex;
  --mixin-eViUy5MaYN_flex-direction: column;
  --mixin-eViUy5MaYN_align-items: stretch;
  --mixin-eViUy5MaYN_justify-content: flex-start;
  --mixin-eViUy5MaYN_list-style-position: outside;
  --mixin-eViUy5MaYN_padding-left: 40px;
  --mixin-eViUy5MaYN_position: relative;
  --mixin-eViUy5MaYN_list-style-type: disc;
  --mixin-eViUy5MaYN_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin--kyW0m5UUw_font-family);
  font-size: var(--mixin--kyW0m5UUw_font-size);
  font-weight: var(--mixin--kyW0m5UUw_font-weight);
  font-style: var(--mixin--kyW0m5UUw_font-style);
  color: var(--mixin--kyW0m5UUw_color);
  text-align: var(--mixin--kyW0m5UUw_text-align);
  text-transform: var(--mixin--kyW0m5UUw_text-transform);
  line-height: var(--mixin--kyW0m5UUw_line-height);
  letter-spacing: var(--mixin--kyW0m5UUw_letter-spacing);
  white-space: var(--mixin--kyW0m5UUw_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-Xn2chiuU4O_font-family);
  color: var(--mixin-Xn2chiuU4O_color);
  font-size: var(--mixin-Xn2chiuU4O_font-size);
  font-weight: var(--mixin-Xn2chiuU4O_font-weight);
  letter-spacing: var(--mixin-Xn2chiuU4O_letter-spacing);
  line-height: var(--mixin-Xn2chiuU4O_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-GlZHjzWDn3_font-family);
  color: var(--mixin-GlZHjzWDn3_color);
  font-size: var(--mixin-GlZHjzWDn3_font-size);
  font-weight: var(--mixin-GlZHjzWDn3_font-weight);
  letter-spacing: var(--mixin-GlZHjzWDn3_letter-spacing);
  line-height: var(--mixin-GlZHjzWDn3_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-vFys8Hjvz7_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-Ma81jpRVOB_font-family);
  color: var(--mixin-Ma81jpRVOB_color);
  font-size: var(--mixin-Ma81jpRVOB_font-size);
  font-weight: var(--mixin-Ma81jpRVOB_font-weight);
  letter-spacing: var(--mixin-Ma81jpRVOB_letter-spacing);
  line-height: var(--mixin-Ma81jpRVOB_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-QY7V8oH9dc_font-family);
  color: var(--mixin-QY7V8oH9dc_color);
  font-size: var(--mixin-QY7V8oH9dc_font-size);
  font-weight: var(--mixin-QY7V8oH9dc_font-weight);
  letter-spacing: var(--mixin-QY7V8oH9dc_letter-spacing);
  line-height: var(--mixin-QY7V8oH9dc_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-lFPPBGgzuN_font-family);
  color: var(--mixin-lFPPBGgzuN_color);
  font-size: var(--mixin-lFPPBGgzuN_font-size);
  font-weight: var(--mixin-lFPPBGgzuN_font-weight);
  letter-spacing: var(--mixin-lFPPBGgzuN_letter-spacing);
  line-height: var(--mixin-lFPPBGgzuN_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-yDGU60fbjm_font-family);
  color: var(--mixin-yDGU60fbjm_color);
  font-size: var(--mixin-yDGU60fbjm_font-size);
  font-weight: var(--mixin-yDGU60fbjm_font-weight);
  line-height: var(--mixin-yDGU60fbjm_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-dcX_BWDj8u_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-QoEPxNu2fv_color);
  padding-left: var(--mixin-QoEPxNu2fv_padding-left);
  border-left: var(--mixin-QoEPxNu2fv_border-left-width)
    var(--mixin-QoEPxNu2fv_border-left-style)
    var(--mixin-QoEPxNu2fv_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-N85WC50Ef7_background);
  font-family: var(--mixin-N85WC50Ef7_font-family);
  border-radius: var(--mixin-N85WC50Ef7_border-top-left-radius)
    var(--mixin-N85WC50Ef7_border-top-right-radius)
    var(--mixin-N85WC50Ef7_border-bottom-right-radius)
    var(--mixin-N85WC50Ef7_border-bottom-left-radius);
  padding: var(--mixin-N85WC50Ef7_padding-top)
    var(--mixin-N85WC50Ef7_padding-right) var(--mixin-N85WC50Ef7_padding-bottom)
    var(--mixin-N85WC50Ef7_padding-left);
  border-top: var(--mixin-N85WC50Ef7_border-top-width)
    var(--mixin-N85WC50Ef7_border-top-style)
    var(--mixin-N85WC50Ef7_border-top-color);
  border-right: var(--mixin-N85WC50Ef7_border-right-width)
    var(--mixin-N85WC50Ef7_border-right-style)
    var(--mixin-N85WC50Ef7_border-right-color);
  border-bottom: var(--mixin-N85WC50Ef7_border-bottom-width)
    var(--mixin-N85WC50Ef7_border-bottom-style)
    var(--mixin-N85WC50Ef7_border-bottom-color);
  border-left: var(--mixin-N85WC50Ef7_border-left-width)
    var(--mixin-N85WC50Ef7_border-left-style)
    var(--mixin-N85WC50Ef7_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zJF6zNOiFS_background);
  font-family: var(--mixin-zJF6zNOiFS_font-family);
  border-radius: var(--mixin-zJF6zNOiFS_border-top-left-radius)
    var(--mixin-zJF6zNOiFS_border-top-right-radius)
    var(--mixin-zJF6zNOiFS_border-bottom-right-radius)
    var(--mixin-zJF6zNOiFS_border-bottom-left-radius);
  padding: var(--mixin-zJF6zNOiFS_padding-top)
    var(--mixin-zJF6zNOiFS_padding-right) var(--mixin-zJF6zNOiFS_padding-bottom)
    var(--mixin-zJF6zNOiFS_padding-left);
  border-top: var(--mixin-zJF6zNOiFS_border-top-width)
    var(--mixin-zJF6zNOiFS_border-top-style)
    var(--mixin-zJF6zNOiFS_border-top-color);
  border-right: var(--mixin-zJF6zNOiFS_border-right-width)
    var(--mixin-zJF6zNOiFS_border-right-style)
    var(--mixin-zJF6zNOiFS_border-right-color);
  border-bottom: var(--mixin-zJF6zNOiFS_border-bottom-width)
    var(--mixin-zJF6zNOiFS_border-bottom-style)
    var(--mixin-zJF6zNOiFS_border-bottom-color);
  border-left: var(--mixin-zJF6zNOiFS_border-left-width)
    var(--mixin-zJF6zNOiFS_border-left-style)
    var(--mixin-zJF6zNOiFS_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-5fbsBWIbo9_display);
  flex-direction: var(--mixin-5fbsBWIbo9_flex-direction);
  align-items: var(--mixin-5fbsBWIbo9_align-items);
  justify-content: var(--mixin-5fbsBWIbo9_justify-content);
  list-style-position: var(--mixin-5fbsBWIbo9_list-style-position);
  padding-left: var(--mixin-5fbsBWIbo9_padding-left);
  position: var(--mixin-5fbsBWIbo9_position);
  list-style-type: var(--mixin-5fbsBWIbo9_list-style-type);
  flex-column-gap: var(--mixin-5fbsBWIbo9_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-eViUy5MaYN_display);
  flex-direction: var(--mixin-eViUy5MaYN_flex-direction);
  align-items: var(--mixin-eViUy5MaYN_align-items);
  justify-content: var(--mixin-eViUy5MaYN_justify-content);
  list-style-position: var(--mixin-eViUy5MaYN_list-style-position);
  padding-left: var(--mixin-eViUy5MaYN_padding-left);
  position: var(--mixin-eViUy5MaYN_position);
  list-style-type: var(--mixin-eViUy5MaYN_list-style-type);
  flex-column-gap: var(--mixin-eViUy5MaYN_flex-column-gap);
}
