.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-column-gap: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.freeBox__vDvQp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.freeBox__vDvQp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vDvQp > :global(.__wab_flex-container) > *,
.freeBox__vDvQp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vDvQp > :global(.__wab_flex-container) > picture > img,
.freeBox__vDvQp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gPnfj {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
}
.img__fhPpO {
  position: relative;
  object-fit: contain;
  height: 75px;
  object-position: center center;
  max-height: 75%;
  flex-shrink: 0;
}
.img__fhPpO > picture > img {
  object-fit: contain;
  object-position: center center;
}
.img__fhPpO > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: center center;
}
.freeBox___8WULg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__orRce {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__orRce > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__orRce > :global(.__wab_flex-container) > *,
.freeBox__orRce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__orRce > :global(.__wab_flex-container) > picture > img,
.freeBox__orRce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__g3De7 {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.fathymFramework {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__jdNiU {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.ioTEnsemble {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__bTQdz {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.habistack {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__t3Hpn {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.freeBox__tohEs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__tohEs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tohEs > :global(.__wab_flex-container) > *,
.freeBox__tohEs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tohEs > :global(.__wab_flex-container) > picture > img,
.freeBox__tohEs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___8SwT {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.docs {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__bq2V {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.blog {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__vQy3J {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.support {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__itVh2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox__srSEc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__srSEc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__srSEc > :global(.__wab_flex-container) > *,
.freeBox__srSEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__srSEc > :global(.__wab_flex-container) > picture > img,
.freeBox__srSEc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ybdot {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.enterpriseAgreement {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__oXhMp {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.termsOfService {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__hyik0 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.privacyPolicy {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__ePrnL {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox__vs85Q {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
}
.freeBox__wjGll {
  width: 100%;
  height: 24px;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 32px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__hsGaf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 24px;
}
.text__cg0Li {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  color: var(--token-wm2qmP22Qi1eVU);
  font-family: "Encode Sans Semi Condensed", sans-serif;
  padding-top: 0px;
}
.img__guOz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__guOz > picture > img {
  object-fit: cover;
}
.img__guOz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jtrOa {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  color: var(--token-wm2qmP22Qi1eVU);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.freeBox__iRWcR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__iRWcR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iRWcR > :global(.__wab_flex-container) > *,
.freeBox__iRWcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iRWcR > :global(.__wab_flex-container) > picture > img,
.freeBox__iRWcR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.httpstwittercomFathymIt {
  position: relative;
  display: flex;
}
.svg__pLmo {
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.httpsgithubcomfathym {
  position: relative;
  display: flex;
}
.svg__kTyGz {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-vaTuh5tFL3B);
  flex-shrink: 0;
}
.httpswwwfacebookcomFathymInc {
  position: relative;
  display: flex;
}
.svg__zcYjD {
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
