.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__jovfK {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__jovfK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jovfK > :global(.__wab_flex-container) > *,
.freeBox__jovfK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jovfK > :global(.__wab_flex-container) > picture > img,
.freeBox__jovfK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jovfK {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__hyViu {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__flQIg {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__ebd00 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ebd00 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ebd00 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ebd00 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ebd00 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sOpOc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__eqXw:global(.__wab_instance) {
  position: relative;
}
.svg___5Ge6U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3XrkL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__r1VWs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__oZpac {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__q2Vdf {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  height: auto;
}
.freeBox__q2Vdf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__q2Vdf > :global(.__wab_flex-container) > *,
.freeBox__q2Vdf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2Vdf > :global(.__wab_flex-container) > picture > img,
.freeBox__q2Vdf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__o9N08 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__wv29 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__wv29 {
    text-align: center;
  }
}
.text__iTVo4 {
  font-size: 20px;
  color: var(--token-k80G98ijwcE_gD);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-YKkgK3xcQuQ301);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__g3HEq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__d6EPy {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d6EPy {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__wArIh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8VdD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jiT1 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___1AeF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aiWmw {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg___57I1G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gupDu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nxbwO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__djcDa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__gcHbQ {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gcHbQ {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg___535I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iVwcI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bg5U {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__gYeZa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__xgwt6:global(.__wab_instance) {
  position: relative;
}
.svg__ehrHx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__p5GX9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__tcQy4:global(.__wab_instance) {
  display: none;
}
.svg__kpJsH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8SwcF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-YrTrr9dJPMblVY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__tvniZ {
  flex-direction: column;
  display: flex;
}
.freeBox__tvniZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tvniZ > :global(.__wab_flex-container) > *,
.freeBox__tvniZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvniZ > :global(.__wab_flex-container) > picture > img,
.freeBox__tvniZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tOyCf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__mO0T {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__hT6I4 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox___5YElb {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___5YElb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5YElb > :global(.__wab_flex-container) > *,
.freeBox___5YElb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5YElb > :global(.__wab_flex-container) > picture > img,
.freeBox___5YElb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns___9XzYl {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns___9XzYl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns___9XzYl > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9XzYl > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9XzYl > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9XzYl > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9XzYl > :global(.__wab_flex-container) > *,
.columns___9XzYl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9XzYl > :global(.__wab_flex-container) > picture > img,
.columns___9XzYl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9XzYl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9XzYl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9XzYl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9XzYl > :global(.__wab_flex-container) > *,
  .columns___9XzYl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___9XzYl > :global(.__wab_flex-container) > picture > img,
  .columns___9XzYl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__kmM3E {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__w8VmY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hw90B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text___95G5 {
  padding-left: 0px;
}
.column__kJPyF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__oqzYx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cdhv6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__gril6 {
  padding-left: 0px;
}
.column__rkKi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__fq0O:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rgrf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__o5IsJ {
  padding-left: 0px;
}
.column___9HsKh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__vN1Yo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__mr6Ed {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__szx6R {
  padding-left: 0px;
}
.freeBox__ufngh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__abb8N:global(.__wab_instance) {
  position: relative;
}
.svg__qqOm9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xZupU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__stxOb {
  position: relative;
}
.columns__p8JAx {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__p8JAx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__p8JAx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p8JAx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p8JAx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wjuhG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__qs4LZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fou0C {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__fou0C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__fou0C > :global(.__wab_flex-container) > *,
.freeBox__fou0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fou0C > :global(.__wab_flex-container) > picture > img,
.freeBox__fou0C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fou0C {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__jIMuE {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__jIMuE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jIMuE > :global(.__wab_flex-container) > *,
.freeBox__jIMuE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jIMuE > :global(.__wab_flex-container) > picture > img,
.freeBox__jIMuE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__arZVx {
  flex-direction: column;
  display: flex;
}
.freeBox__arZVx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__arZVx > :global(.__wab_flex-container) > *,
.freeBox__arZVx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__arZVx > :global(.__wab_flex-container) > picture > img,
.freeBox__arZVx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__khvr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__kuCLz {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kuCLz {
    text-align: center;
  }
}
.text__zoVTe {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___74Mai {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___74Mai > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___74Mai > :global(.__wab_flex-container) > *,
.freeBox___74Mai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___74Mai > :global(.__wab_flex-container) > picture > img,
.freeBox___74Mai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___74Mai {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___74Mai > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___74Mai > :global(.__wab_flex-container) > *,
  .freeBox___74Mai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___74Mai > :global(.__wab_flex-container) > picture > img,
  .freeBox___74Mai
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__x1Gvn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__wte7C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gOKp2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sor4H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pNjFz {
  height: auto;
}
.priceCard__efYwc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___08Pv5 {
  color: var(--token-ahL-AXEOxl860-);
}
.valueProp__iv40:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t4TN {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pDBwh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hGpMg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rnE {
  height: auto;
}
.priceCard__uTidl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oYmLv {
  color: var(--token-PKuWdTGOM7muxy);
}
.valueProp___1R0Xl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kaGdv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4Hnyd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jjb0R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wq4Sj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__xc9N {
  height: auto;
}
.priceCard__pdI29:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__foDsC {
  color: var(--token-3oM3RZhg3Me5SQ);
}
.valueProp__q695V:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jwkz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r98U9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pthx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hqjT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__bsUKx {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
