.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__oogor {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__oogor > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oogor > :global(.__wab_flex-container) > *,
.freeBox__oogor > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oogor > :global(.__wab_flex-container) > picture > img,
.freeBox__oogor
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oogor {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__xiDxd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xPz38 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal__g3IGu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__nxVas {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__yzFwE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__i1Uh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__i1Uh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__i1Uh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i1Uh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i1Uh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hFlph {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__cN37M:global(.__wab_instance) {
  position: relative;
}
.svg__grV5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7LWbq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__fef5K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___1SvI1 {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal___8Tz6T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zhImr {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  height: auto;
}
.freeBox__zhImr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zhImr > :global(.__wab_flex-container) > *,
.freeBox__zhImr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zhImr > :global(.__wab_flex-container) > picture > img,
.freeBox__zhImr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__smfcr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__de2I {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__de2I {
    text-align: center;
  }
}
.text__l9Oj {
  font-size: 20px;
  color: var(--token-k80G98ijwcE_gD);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-YKkgK3xcQuQ301);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__mTYde:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__iPo9A:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rpsHr {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rpsHr {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__ckHfO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8Lgd4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ad6Gj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__kHsJz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___9HRv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kgEyx {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__lcQyO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dBdE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tsuxP {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__joGpj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__da2S:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pvGbb {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pvGbb {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg___3NVbT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3ReOj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bGKlg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__yefA {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__oVkx3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__pkD78 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__rpM9Q:global(.__wab_instance) {
  position: relative;
}
.svg__mvvv4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yFlFa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
}
.button__uhwAs:global(.__wab_instance) {
  display: none;
}
.svg__eqxdp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vE3B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-YrTrr9dJPMblVY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__i1KSj {
  flex-direction: column;
  display: flex;
}
.freeBox__i1KSj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i1KSj > :global(.__wab_flex-container) > *,
.freeBox__i1KSj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1KSj > :global(.__wab_flex-container) > picture > img,
.freeBox__i1KSj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pcj9O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__bIi54:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2___8AnX {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__o289 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__tkcey {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__tkcey > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__tkcey > :global(.__wab_flex-container) > *,
.freeBox__tkcey > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tkcey > :global(.__wab_flex-container) > picture > img,
.freeBox__tkcey
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__eHUd2 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__eHUd2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__eHUd2 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__eHUd2 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__eHUd2 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__eHUd2 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__eHUd2 > :global(.__wab_flex-container) > *,
.columns__eHUd2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eHUd2 > :global(.__wab_flex-container) > picture > img,
.columns__eHUd2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eHUd2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eHUd2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eHUd2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eHUd2 > :global(.__wab_flex-container) > *,
  .columns__eHUd2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__eHUd2 > :global(.__wab_flex-container) > picture > img,
  .columns__eHUd2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__uPlte {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__a0W8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fmSg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__wLCvh {
  padding-left: 0px;
}
.column__kjpMr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__msjLu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iPfmP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__k4UxL {
  padding-left: 0px;
}
.column__kvGsH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pmhki:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___33L3L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__qWhh2 {
  padding-left: 0px;
}
.column__lcg53 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hMeLy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m7JaB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__sfXlG {
  padding-left: 0px;
}
.freeBox__dmRBo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__zf722:global(.__wab_instance) {
  position: relative;
}
.svg___7ZJep {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__w8VRi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__e8ITb {
  position: relative;
}
.columns__fNcjt {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__fNcjt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fNcjt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fNcjt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fNcjt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__npKR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__ttyX0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___9Lw {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox___9Lw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___9Lw > :global(.__wab_flex-container) > *,
.freeBox___9Lw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Lw > :global(.__wab_flex-container) > picture > img,
.freeBox___9Lw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Lw {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__lGy1M {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__lGy1M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__lGy1M > :global(.__wab_flex-container) > *,
.freeBox__lGy1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lGy1M > :global(.__wab_flex-container) > picture > img,
.freeBox__lGy1M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__bab4C {
  flex-direction: column;
  display: flex;
}
.freeBox__bab4C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bab4C > :global(.__wab_flex-container) > *,
.freeBox__bab4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bab4C > :global(.__wab_flex-container) > picture > img,
.freeBox__bab4C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__iwKfo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___8Ym3T {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Ym3T {
    text-align: center;
  }
}
.text__tnMSk {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___86OvT {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___86OvT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___86OvT > :global(.__wab_flex-container) > *,
.freeBox___86OvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___86OvT > :global(.__wab_flex-container) > picture > img,
.freeBox___86OvT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___86OvT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___86OvT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___86OvT > :global(.__wab_flex-container) > *,
  .freeBox___86OvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___86OvT > :global(.__wab_flex-container) > picture > img,
  .freeBox___86OvT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__zQrew:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__bQSo7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eQspi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4GKe8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__sqZq {
  height: auto;
}
.priceCard__yMQb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qqk1Q {
  color: var(--token-ahL-AXEOxl860-);
}
.valueProp__px6A:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qk1Xv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eAHnL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yL2G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ziNPs {
  height: auto;
}
.priceCard__zNa98:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xReSk {
  color: var(--token-PKuWdTGOM7muxy);
}
.valueProp__obLJs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__z9XDa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ftmSf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__k4Vxi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hAjcu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ljjE0 {
  height: auto;
}
.priceCard__wKuYf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bsbtl {
  color: var(--token-3oM3RZhg3Me5SQ);
}
.valueProp___4563Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hA4D3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mvBhU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xr4Vs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mg0IF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zhk93 {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
