.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___07H7R {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___07H7R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___07H7R > :global(.__wab_flex-container) > *,
.freeBox___07H7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___07H7R > :global(.__wab_flex-container) > picture > img,
.freeBox___07H7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___07H7R {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__j9I7J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___0EA7I {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding-right: 0px;
  max-width: 545px;
  min-width: 0;
  margin: 0px;
}
.reveal__s56Ab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__iN1Bj {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__hvc27:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__cQEs5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cQEs5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cQEs5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cQEs5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cQEs5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4Fbs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__inJk1:global(.__wab_instance) {
  position: relative;
}
.svg__j3J9L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gkM19 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___1Eq9U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__unPKr {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal__ufaJy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___0I0Yp {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox___0I0Yp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0I0Yp > :global(.__wab_flex-container) > *,
.freeBox___0I0Yp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0I0Yp > :global(.__wab_flex-container) > picture > img,
.freeBox___0I0Yp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__exLXx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__vla7Y {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  text-align: center;
}
.text__dhjt {
  font-size: 20px;
  color: var(--token-k80G98ijwcE_gD);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-YKkgK3xcQuQ301);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__uRgtu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__oloUb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___3P3Lz {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.link__hHlGr {
  display: flex;
}
.text__nn1Ob {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__dPx1M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7EyP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ve1Zw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__smTys:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__evp5L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wMez {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.link__fZuj {
  display: flex;
}
.text__uaYf3 {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__o62Fv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gvbFk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5NSb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__tyAng:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__i3Bbi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zVKdB {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  min-width: 0;
}
.link__a8CcV {
  display: flex;
}
.text___0HiJw {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__mWy7B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cyRhb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wc1Nh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__s8Ss {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__r7L3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__jiOmz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__vQmvr:global(.__wab_instance) {
  position: relative;
}
.svg___7PrZf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qLbkT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__txxc5 {
  display: flex;
}
.text___5J6Bk {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__vJqvz:global(.__wab_instance) {
  display: none;
}
.svg__eRy7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bc9Rt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-YrTrr9dJPMblVY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__mD8K4 {
  flex-direction: column;
  display: flex;
}
.freeBox__mD8K4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mD8K4 > :global(.__wab_flex-container) > *,
.freeBox__mD8K4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mD8K4 > :global(.__wab_flex-container) > picture > img,
.freeBox__mD8K4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ipP6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__hWy0Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__egrgD {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__gJc3S {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__jePfh {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__jePfh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jePfh > :global(.__wab_flex-container) > *,
.freeBox__jePfh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jePfh > :global(.__wab_flex-container) > picture > img,
.freeBox__jePfh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__l8Jt8 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__l8Jt8 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__l8Jt8 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__l8Jt8 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__l8Jt8 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__l8Jt8 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__l8Jt8 > :global(.__wab_flex-container) > *,
.columns__l8Jt8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__l8Jt8 > :global(.__wab_flex-container) > picture > img,
.columns__l8Jt8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l8Jt8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l8Jt8 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l8Jt8 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l8Jt8 > :global(.__wab_flex-container) > *,
  .columns__l8Jt8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__l8Jt8 > :global(.__wab_flex-container) > picture > img,
  .columns__l8Jt8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__rfwfR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tKleU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pO7Il {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__p1QgY {
  padding-left: 0px;
}
.column__rokr6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__znRkR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___5Y8Oh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__eIZvv {
  padding-left: 0px;
}
.column__ggN42 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__xMAuH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wdRvL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__ul89U {
  padding-left: 0px;
}
.column__fWRkj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__wzIf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__p3Q6D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__ztgBb {
  padding-left: 0px;
}
.columns__vFx91 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 445px;
  min-width: 0;
  padding: 8px;
}
.columns__vFx91 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vFx91 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vFx91 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vFx91 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tkUTt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__kYvG7:global(.__wab_instance) {
  position: relative;
}
.svg__nKses {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kmGJp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hx4Xm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___3BDw {
  position: relative;
}
.freeBox__ryusi {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__ryusi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ryusi > :global(.__wab_flex-container) > *,
.freeBox__ryusi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ryusi > :global(.__wab_flex-container) > picture > img,
.freeBox__ryusi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ryusi {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__ioRtZ {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__ioRtZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ioRtZ > :global(.__wab_flex-container) > *,
.freeBox__ioRtZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioRtZ > :global(.__wab_flex-container) > picture > img,
.freeBox__ioRtZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___55Idz {
  flex-direction: column;
  display: flex;
}
.freeBox___55Idz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___55Idz > :global(.__wab_flex-container) > *,
.freeBox___55Idz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___55Idz > :global(.__wab_flex-container) > picture > img,
.freeBox___55Idz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tKhQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__apoNb {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__apoNb {
    text-align: center;
  }
}
.text__jhqco {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___9Pai3 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9Pai3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___9Pai3 > :global(.__wab_flex-container) > *,
.freeBox___9Pai3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Pai3 > :global(.__wab_flex-container) > picture > img,
.freeBox___9Pai3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Pai3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Pai3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Pai3 > :global(.__wab_flex-container) > *,
  .freeBox___9Pai3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9Pai3 > :global(.__wab_flex-container) > picture > img,
  .freeBox___9Pai3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__qvsvS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__d3RBl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xeFdj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l9A2X {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pVbd {
  height: auto;
}
.priceCard__p8Rv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vk22N {
  color: var(--token-ahL-AXEOxl860-);
}
.valueProp__qeLhm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___66Jgq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__caW30 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fW9Ey {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__m1Mqp {
  height: auto;
}
.priceCard__mT9W4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yQNwH {
  color: var(--token-PKuWdTGOM7muxy);
}
.valueProp___62Xe0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Jnjn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qHaFm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kqj1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fa7Db {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rze9C {
  height: auto;
}
.priceCard__witGd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yVmNp {
  color: var(--token-3oM3RZhg3Me5SQ);
}
.valueProp__vXd4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Mjoo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gnztK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___691HW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pDvqf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__z3Ko {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
