.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__nk86C {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__nk86C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nk86C > :global(.__wab_flex-container) > *,
.freeBox__nk86C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nk86C > :global(.__wab_flex-container) > picture > img,
.freeBox__nk86C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nk86C {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__pq5Bh {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  margin-right: 0px;
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  padding-right: 0px;
  max-width: 545px;
  min-width: 0;
}
.text__i4PZ5 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: scale-down;
  max-width: 70%;
  width: auto;
  height: auto;
  transform: none;
}
.img > picture > img {
  object-fit: scale-down;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__yWm8T {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__yWm8T > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__yWm8T > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yWm8T {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yWm8T > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xIgIc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lIgvW:global(.__wab_instance) {
  position: relative;
}
.svg__byw5I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kuMqV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__coEsM {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.link__oOYby {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__dsPfW {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox__dsPfW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dsPfW > :global(.__wab_flex-container) > *,
.freeBox__dsPfW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsPfW > :global(.__wab_flex-container) > picture > img,
.freeBox__dsPfW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__x9KGo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__eJi7 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  text-align: center;
}
.text__o9KkV {
  font-size: 20px;
  color: var(--token-k80G98ijwcE_gD);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-YKkgK3xcQuQ301);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-YKkgK3xcQuQ301);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__w69Nu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qki4M {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.link__hHlGr {
  display: flex;
}
.text__nn1Ob {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__lhtIu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9SLbv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nhqN {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__jqVjh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__cbvH {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.link__fZuj {
  display: flex;
}
.text__uaYf3 {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__o5RhH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1DsGn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aUjOi {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___2HPrv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___4P4Nk {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  min-width: 0;
}
.link__a8CcV {
  display: flex;
}
.text___0HiJw {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__dJXpG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3HsHs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ysn1T {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rz42O {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  display: none;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tQyRFX8ITyKQMW);
  line-height: 1;
  height: auto;
  padding-right: 0px;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  padding-top: 0px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 226px;
  min-width: 0;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__nykeo:global(.__wab_instance) {
  position: relative;
}
.svg__zKdLx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rmE84 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 21px;
}
.link__txxc5 {
  display: flex;
}
.text___5J6Bk {
  height: auto;
  width: auto;
  color: var(--token-IfiFb3b_XQ5r88);
  font-weight: 700;
}
.button__scMQb:global(.__wab_instance) {
  display: none;
}
.svg__lBt9X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__c4Ia8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section__f3VEc {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__aXxhl {
  flex-direction: column;
  display: flex;
}
.freeBox__aXxhl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aXxhl > :global(.__wab_flex-container) > *,
.freeBox__aXxhl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aXxhl > :global(.__wab_flex-container) > picture > img,
.freeBox__aXxhl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__q7YXp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__itUvv {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__oxumc {
  font-size: 20px;
  color: var(--token-yCR_wtnxsOHLEs);
  line-height: 28px;
  height: auto;
  padding-left: 0px;
}
.freeBox__vZsez {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__vZsez > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vZsez > :global(.__wab_flex-container) > *,
.freeBox__vZsez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vZsez > :global(.__wab_flex-container) > picture > img,
.freeBox__vZsez
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__h3Qvl {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__h3Qvl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__h3Qvl > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__h3Qvl > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__h3Qvl > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__h3Qvl > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__h3Qvl > :global(.__wab_flex-container) > *,
.columns__h3Qvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__h3Qvl > :global(.__wab_flex-container) > picture > img,
.columns__h3Qvl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h3Qvl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h3Qvl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h3Qvl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h3Qvl > :global(.__wab_flex-container) > *,
  .columns__h3Qvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__h3Qvl > :global(.__wab_flex-container) > picture > img,
  .columns__h3Qvl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___4Wn9Z {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__olOgE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wwNqe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__nn0XC {
  padding-left: 0px;
}
.column__hnPyR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___9VkPb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yyRfr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__vWf {
  padding-left: 0px;
}
.column__s8Gvf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__z8MLy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__gWnpN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__fCm5O {
  padding-left: 0px;
}
.column___3Ygsh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hnf1G:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fwLf4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__cgrsq {
  padding-left: 0px;
}
.section__fRxrV {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-YrTrr9dJPMblVY);
  padding: 64px 32px;
}
.foreground4 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___93KNu {
  flex-direction: column;
  display: flex;
}
.freeBox___93KNu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___93KNu > :global(.__wab_flex-container) > *,
.freeBox___93KNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___93KNu > :global(.__wab_flex-container) > picture > img,
.freeBox___93KNu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rOJx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___9G2Dg {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__p7P62 {
  font-size: 20px;
  color: var(--token-yCR_wtnxsOHLEs);
  line-height: 28px;
  height: auto;
  padding-left: 0px;
}
.freeBox__avGs1 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__avGs1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__avGs1 > :global(.__wab_flex-container) > *,
.freeBox__avGs1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__avGs1 > :global(.__wab_flex-container) > picture > img,
.freeBox__avGs1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__oKSrV {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__oKSrV > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__oKSrV > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__oKSrV > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__oKSrV > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__oKSrV > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__oKSrV > :global(.__wab_flex-container) > *,
.columns__oKSrV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oKSrV > :global(.__wab_flex-container) > picture > img,
.columns__oKSrV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oKSrV {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oKSrV > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oKSrV > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oKSrV > :global(.__wab_flex-container) > *,
  .columns__oKSrV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__oKSrV > :global(.__wab_flex-container) > picture > img,
  .columns__oKSrV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___9M1Mn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___31UpW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7Tk39 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text___1Ztna {
  padding-left: 0px;
}
.column__lz65S {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__vB8Ft:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___9ZHy7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__wmpFj {
  padding-left: 0px;
}
.column__pCUhn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__iTr3H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__djtcc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text__zs7Jr {
  padding-left: 0px;
}
.column__sVg0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kcACr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lAWe9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D3G7J0Ol10QvwC);
  width: 28px;
  height: 28px;
}
.text___9YEg3 {
  padding-left: 0px;
}
.columns__rDmv5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 445px;
  min-width: 0;
  padding: 8px;
}
.columns__rDmv5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__rDmv5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rDmv5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rDmv5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xS28F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__sLglQ:global(.__wab_instance) {
  position: relative;
}
.svg__rexy2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fwfsj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__usm69 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___6JvRu {
  position: relative;
  display: none;
}
.freeBox__u2XDz {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__u2XDz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__u2XDz > :global(.__wab_flex-container) > *,
.freeBox__u2XDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2XDz > :global(.__wab_flex-container) > picture > img,
.freeBox__u2XDz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u2XDz {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__gb1T {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__gb1T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gb1T > :global(.__wab_flex-container) > *,
.freeBox__gb1T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gb1T > :global(.__wab_flex-container) > picture > img,
.freeBox__gb1T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___2FV5 {
  flex-direction: column;
  display: flex;
}
.freeBox___2FV5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2FV5 > :global(.__wab_flex-container) > *,
.freeBox___2FV5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2FV5 > :global(.__wab_flex-container) > picture > img,
.freeBox___2FV5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jLdzu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__dqeZo {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dqeZo {
    text-align: center;
  }
}
.text__wVxQ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__bRq9S {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bRq9S > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__bRq9S > :global(.__wab_flex-container) > *,
.freeBox__bRq9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRq9S > :global(.__wab_flex-container) > picture > img,
.freeBox__bRq9S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRq9S {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRq9S > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bRq9S > :global(.__wab_flex-container) > *,
  .freeBox__bRq9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bRq9S > :global(.__wab_flex-container) > picture > img,
  .freeBox__bRq9S
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___2S6Y:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__vgb2U:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rTe1P {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wH9Db {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__j9SIo {
  height: auto;
}
.priceCard__ua8Kl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oBjU {
  color: var(--token-ahL-AXEOxl860-);
}
.valueProp__osyL6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yJidu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6LFcT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qyztp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ti9Tr {
  height: auto;
}
.priceCard__unCKg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aoWp {
  color: var(--token-PKuWdTGOM7muxy);
}
.valueProp___5GgkC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3AZvg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tBjSt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__znmpL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r4A1Y {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__qHizM {
  height: auto;
}
.priceCard__ejHsJ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3Fz1G {
  color: var(--token-3oM3RZhg3Me5SQ);
}
.valueProp__n61En:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pVkor {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__movtV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vwAfX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zmSdi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pZb7X {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
